body {
  font-family: Arial, sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; /* Відстань між колонками */
  list-style: none;
  padding: 0;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 360px;
  max-height: 200px;
  object-fit: cover;
}

.gallery-link {
  display: block;
  text-decoration: none;
}
